* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #e6e6e6;
}

header {
  padding: 30px 4% 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
}

h1 {
  margin: 0; padding: 0;
  font-size: 20px;
}

a {	
  text-decoration: none;
  color: #4b4b4b;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

nav {
  margin: 0 0 0 auto;
}

.scroll-arrow {
  position: fixed;
  bottom: 20px; /* 画面下部からの距離 */
  left: 50%; /* 画面の中央に配置 */
  transform: translateX(-50%); /* 中央寄せ */
  width: 30px; /* 矢印の幅 */
  height: 30px; /* 矢印の高さ */
  background-color: #000; /* 矢印の色 */
  border-left: 2px solid #fff; /* 矢印の左側の線 */
  border-bottom: 2px solid #fff; /* 矢印の下側の線 */
  transform: rotate(-45deg); /* 矢印の回転 */
  animation: arrowMove 1s infinite alternate; /* アニメーションの設定 */
}

@keyframes arrowMove {
  from {
      bottom: 20px; /* 初期位置 */
  }
  to {
      bottom: 40px; /* 最終位置 */
  }
}